body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.banner {
	width:100%;
}

.titulo-principal {
    font-size: 2em;
    margin: 0 0 1em;
    font-weight: bold;
	text-align: center;
	clear: left;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.principal {
	padding: 3em 0;
	background-color: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	text-align: center;
    margin : 0 0 1em;
}

.destaque {
	font-weight: bold;
}

.mission {
	font-style: italic;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background-color: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.beneficios-lista {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "✭";
}

.imagem-beneficios {
	width: 60%;
}

.video {
	width: 560px;
	margin: 2em auto;
}

footer {
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.conteudo-beneficios, .imagem-beneficios {
		width: 100%;
	}
}